{% from _self import renderPager %}

{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block section_content %}


<div class="panel-body">
    <h1>Hello World !</h1>
    <p>
      {{ message}}
    </p>    
</div>   
{% endblock %}

