{% set layout = "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% endif %}

<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur ma premiere page!</title>
  </head>
  <body>
    <h1>Hello World !</h1>

    <p>
      {{ message}}
    </p>
  </body>
</html>